/* другорядний колір тексту #757575 
/* основний колір тексту #212121 
/* білий колір #FFFFFF 
/* акцент #2196F3 
/* колір контактів у футері rgba(255, 255, 255, 0.6);
/* колір фону #FFFFFF */
/* другорядний колір фону #2F303A */
:root {
  --primary-text-color: #212121;
  --secound-text-collor: #757575;
  --accent: #2196f3;
}
body {
  background-color: #fff;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo-web {
  color: var(--accent);
}
.logo-studio {
  color: #000000;
}

.link:hover,
.link:focus {
  color: var(--accent);
}
.link-contacts {
  color: var(--secound-text-collor);
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent);
}
.banner {
  background-color: #2f303a;
}
.banner-title {
  color: #ffffff;
}
.feature-list .text {
  color: var(--secound-text-collor);
}
.team .text {
  color: var(--secound-text-collor);
}
.basement {
  background-color: #2f303a;
}
.logo-studio-footer {
  color: #ffffff;
}
.basement-link {
  text-decoration: none;
  color: #ffffff;
}
